{% extends "questions/main.html" %}

{% block title %}
    All Surveys
{% endblock %}

{% block content %}
    <div class="surveys">
        {% for survey in surveys %}
            <div class="survey">
                <h2>title: {{ survey.title }}</h2>
                <p><b>description: {{ survey.description }}</b></p>
                <h4>start_date: {{ survey.start_date }}</h4>
                <h4>end_date: {{ survey.end_date }}</h4>
                <h4>is_active: {{ survey.is_active }}</h4>
            </div>
        {% endfor %}
    </div>
{% endblock %}